In [1]:
import pandas as pd
import sys
sys.path.append("../DataPreprocessing")
from data_preprocessing import *

In [2]:
stock_name = 'TSLA'
search_names = ['multiTimeline-' + str(i) for i in range(1,11)]

In [3]:
main_df = merge_csv(stock_name, search_names, pathname = '/Users/thomastesselaar/Projects/QMIND2022/keyword_checking/', 
                    stock_rows_to_drop=[0,1,261], search_suffix = '')

,Week,Date,Adj Close,Volume,sf_0,sf_1,sf_2,sf_3,sf_4,sf_5,sf_6,sf_7,sf_8,sf_9
0,2018-02-11,2018-02-19,41.890827,544825600,25,56,19,74,62,62,62,12,18,50
1,2018-02-18,2018-02-26,42.060303,808513600,25,57,15,76,59,63,59,11,24,37
2,2018-02-25,2018-03-05,42.960182,559410800,25,57,13,76,61,61,60,13,29,0
3,2018-03-04,2018-03-12,42.492336,621670000,24,57,16,80,59,62,57,13,18,62
4,2018-03-11,2018-03-19,39.370228,690682800,25,55,16,78,60,65,57,14,41,19

In [4]:
corr = []
for i in range(10):
    a = measure_correlation(main_df, ['Adj Close', 'sf_' + str(i)])
    b = measure_correlation2(main_df, ['Adj Close', 'sf_' + str(i)])
    score = ((2*abs(a-0.5))**2 + abs(b)**2)**(1/2)
    corr.append([a,b,score,i])

In [5]:
corr = sorted(corr, key = lambda x: x[2], reverse = True)

In [6]:
corr

[[0.4069767441860465, 0.703278101719074, 0.7274705443153675, 4],
 [0.32558139534883723, 0.12433010054927868, 0.3703314360089192, 0],
 [0.40310077519379844, 0.3061985188531303, 0.36237462938238646, 6],
 [0.3488372093023256, 0.049404737056886236, 0.30633573936074737, 8],
 [0.41472868217054265, 0.2253274586784088, 0.28259025852275826, 5],
 [0.4186046511627907, 0.1753866356520028, 0.2392932995607113, 1],
 [0.3953488372093023, -0.10686981771193657, 0.2350077050472239, 3],
 [0.47674418604651164, 0.20742230495587305, 0.21257315005372682, 2],
 [0.4069767441860465, -0.07860229869624008, 0.20196936859149178, 7],
 [0.5038759689922481, 0.10040310113012109, 0.1007019128868007, 9]]

In [ ]:
[3,1,0,6,4,5,2]