In [1]:
import pandas as pd
import sys
sys.path.append("../DataPreprocessing")
from data_preprocessing import *

In [2]:
stock_name = 'TSLA'
n = 12
search_names = ['Term' + str(i) for i in range(1,n+1)]

In [3]:
main_df = merge_csv(stock_name, search_names, pathname = '/Users/thomastesselaar/Projects/QMIND2022/keyword_checking/', 
                    stock_rows_to_drop=[0,1,522], search_suffix = '')

,Week,Date,Adj Close,Volume,sf_0,sf_1,sf_2,sf_3,sf_4,sf_5,sf_6,sf_7,sf_8,sf_9,sf_10,sf_11
0,2013-02-17,2013-02-25,2.310000,166845000,92,2,38,13,65,51,40,8,44,81,4,69
1,2013-02-24,2013-03-04,2.564667,105976500,85,2,39,10,66,46,36,10,45,82,5,67
2,2013-03-03,2013-03-11,2.352667,134658000,90,2,37,10,68,56,36,9,53,85,4,66
3,2013-03-10,2013-03-18,2.441333,81361500,89,2,35,14,67,62,38,7,45,82,4,42
4,2013-03-17,2013-03-25,2.526000,99630000,88,2,37,12,71,47,40,6,46,82,4,78

In [4]:
corr = []
main_df = main_df.astype({'Adj Close': 'float16'})
for i in range(n):
    main_df = main_df.astype({'sf_' + str(i): 'int32'})
    a = measure_correlation(main_df, ['Adj Close', 'sf_' + str(i)])
    b = measure_correlation2(main_df, ['Adj Close', 'sf_' + str(i)])
    score = ((2*abs(a-0.5))**2 + abs(b)**2)**(1/2)
    corr.append([a,b,score,i])

In [5]:
corr = sorted(corr, key = lambda x: x[2], reverse = True)

In [6]:
corr

[[0.44701348747591524, 0.6760856115054485, 0.6843405848863242, 3],
 [0.3853564547206166, 0.6329613542433318, 0.6732106994563118, 10],
 [0.3236994219653179, 0.4279098045341383, 0.5544676510653228, 1],
 [0.4605009633911368, 0.5485147053791242, 0.554174230354733, 6],
 [0.4123314065510597, 0.4633606708322105, 0.4954253126187018, 0],
 [0.3737957610789981, -0.3011615289671332, 0.3929482233276272, 2],
 [0.4238921001926782, -0.2704007592962558, 0.31030020992631796, 8],
 [0.45664739884393063, -0.29333745006222084, 0.3058833956215911, 9],
 [0.3853564547206166, 0.052533110542833966, 0.2352281819855133, 7],
 [0.4720616570327553, 0.22003556863215132, 0.2270195046560884, 4],
 [0.4662813102119461, 0.1607278911844728, 0.17430219496236923, 5],
 [0.4662813102119461, 0.1599232606024229, 0.17356050658431058, 11]]

In [ ]:
[3,10,1,6,0,2,7]